.block {
    display: flex;
    border: 1px solid grey;
    align-items: center;
    padding: 20px;
}
.button {
    height: 25px;
    width: 25px;
    background-size: cover;
    cursor: pointer;
    border-radius: 25px; 
    margin-left: 20px;
    border: 1px solid grey;
    background-image: url(emojis/grinning-face_1f600.png);
}
.buttonfocus{
    height: 25px;
    width: 25px;
    background-size: cover;
    cursor: pointer;
    border-radius: 25px; 
    background-color: #FF5252;
    border: 1px solid #FF5252;
    opacity: 0.9;
    background-image: url(emojis/grinning-face_1f600.png);
}
.blockbutton {
    border-radius: 25px;
}
.blockcount {
    padding-left: 7px;
}
.blocktext {
    text-align: center;
}
.blockemoji {
    display: flex;
    align-items: center;
}
