.reactions {
    display: flex;
    border: 1px solid grey;
    align-items: center;
    padding: 20px;
}
.reactions__button {
    height: 25px;
    width: 25px; 
    margin: 5px;
    font-size: 18px;
    text-align: center;
    margin-left: 5.5px;
}
.reactions__elem--active{
    border-radius: 30px;
    background-color: #fff8b5;
}
.reactions__button-wrapper {
    border-radius: 30px;
    border: 1px solid grey;
    margin-left: 30px;    
    cursor: pointer; 
}
.reactions__count {
    padding-left: 7px;
}
.reactions__text {
    text-align: center;
}
.reactions__emoji {
    display: flex;
    align-items: center;
}

