.block {
    display: flex;
    border: 1px solid grey;
    align-items: center;
    padding: 20px;
}
.button {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin: 5px;
    background-image: url(emojis/grinning-face_1f600.png);
}
.blockbuttonfocus{
    border-radius: 30px;
    background-color: #fdffc7;
}
.blockbutton {
    border-radius: 30px;
    border: 1px solid grey;
    margin-left: 30px;    
    cursor: pointer; 
}
.blockcount {
    padding-left: 7px;
}
.blocktext {
    text-align: center;
}
.blockemoji {
    display: flex;
    align-items: center;
}
